#chat_container {
	font-size: 10px;
}

.chat_line {
	line-height: 15px;
}

.badge {
	width: 10px;
	height: 10px;
	margin-right: 2px;
	margin-bottom: 3px;
}

.badge:last-of-type {
	margin-right: 3px;
}

.colon {
	margin-right: 8px;
}

.cheer_bits {
	font-weight: 700;
	margin-left: 2px;
	margin-right: 4px;
}

.cheer_emote {
	max-height: 10px;
	margin-bottom: -6px;
}

.emote {
	max-width: 75px;
	max-height: 10px;
	margin-right: -2px;
}

.upscale {
	height: 10px;
}

.emoji {
	height: 10px;
}